@model TodoListApp.WebApp.Models.TodoListModel
@{
    ViewData["Title"] = "Create List";
}

<h2 class="fw-bold text-dark mb-4"><i class="bi bi-plus-square text-success me-2"></i>Create New List</h2>
<div class="card border-0 shadow-sm p-4 col-md-8">
    <form asp-action="Create">
        <div class="form-group mb-3">
             <!-- //NOSONAR --><label asp-for="Title" class="form-label fw-bold text-dark"></label>
            <input asp-for="Title" class="form-control border-2 fw-bold text-dark bg-light" />
            <span asp-validation-for="Title" class="text-danger fw-bold"></span>
        </div>
        <div class="form-group mb-3">
            <!-- //NOSONAR --><label asp-for="Description" class="form-label fw-bold text-dark"></label>
            <textarea asp-for="Description" class="form-control border-2 fw-bold text-dark bg-light" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger fw-bold"></span>
        </div>
        <partial name="_FormActions" model="@(("Create List", "bi-check-lg", "btn-positive", Url.Action("Index")))" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}