@{
    ViewData["Title"] = "Forgot password confirmation";
}
<h2>Forgot password confirmation</h2>
<hr />
<div class="alert alert-success">
    <p>If an account with that email exists, we have sent a password reset link. Please check your inbox (and spam folder).</p>
</div>