@model TodoListApp.WebApp.Models.RegisterModel
@{
    ViewData["Title"] = "Reset password";
}
<h2>Reset password</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="token" value="@ViewBag.Token" />
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label fw-bold">New Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ConfirmPassword" class="form-label fw-bold">Confirm New Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset</button>
        </form>
    </div>
</div>